snippet cb "cc_binary"
cc_binary(
	name = "${1:name}",
	srcs = [
		"$1.cc",
	],
	deps = [
		"$2",
	],
)
endsnippet

snippet cl "cc_library"
cc_library(
	name = "${1:name}",
	srcs = [
		"$1.cc",
	],
	hdrs = [
		"$1.h"
	],
	deps = [
		"$2",
	],
)
endsnippet	

snippet ct "cc_test"
cc_test(
	name = "${1:name}_test",
	srcs = [
		"$1_test.cc",
	],
	deps = [
		":$1",
	],
)
endsnippet
